<%= simple_form_for(@lode) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">

    <%= f.input :latitude %>

    <%= f.input :longitude %>

    <%= f.input :size %>

    <%= f.association :resource %>

  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
