<%= simple_form_for(@lode) do |f| %>
  <%= f.error_notification %>
<div class="form-actions">
    <%= f.button :submit, "!", class: 'pull-right btn btn-default'  %>
  </div>
  <div class="form-inputs field">
    <% if(@resource) %>
      <%= "Creating a new lode for " + @resource.name %>
    <% else %>
      <%= f.association :resource %>
    <% end %>

    <%= f.input :latitude %>

    <%= f.input :longitude %>

    <%= f.input :size %>

    

  </div>
  
<% end %>
