<p id="notice"><%= notice %></p>

<h1>Listing Lodes</h1>

<table>
  <thead>
    <tr>
      <th>Latitude</th>
      <th>Longitude</th>
      <th>Size</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @lodes.each do |lode| %>
      <tr>
        <td><%= lode.latitude %></td>
        <td><%= lode.longitude %></td>
        <td><%= lode.size %></td>
        <td><%= link_to 'Show', lode %></td>
        <td><%= link_to 'Edit', edit_lode_path(lode) %></td>
        <td><%= link_to 'Destroy', lode, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Lode', new_lode_path %>
