<%= form_for(@resource) do |f| %>
  <% if @resource.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@resource.errors.count, "error") %> prohibited this resource from being saved:</h2>

      <ul>
      <% @resource.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="row">
  <div class="col-md-12 resource-desc">
    <% if @resource %>
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="row">
            <div class="col-md-6">
              <%= f.file_field :image, type: :file %>
              <%= f.text_field :name, placeholder: "Name" %><br>
              <% if !@resourceTypes.empty? %>
              <%= f.collection_select :resourceType, @resourceTypes, :resourceType, :resourceType, include_blank: true %>
              <% else %>
              <%= f.text_field :resourceType, placeholder: "Resource type" %>
              <% end %>
            </div>
            <div class="col-md-6">
              TTValue: <%= f.text_field :ttValue %><br>
              MarketValue: <%= f.text_field :marketValue %><br> 
              <%= f.submit %>
            </div>
          </div>
        </div>
        <div class="panel-body">
          <div class="col-md-6">
            description
          </div>
          <div class="col-md-6">
             
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
  
<% end %>
