<div class="row">
  <div class="col-md-4 resource-list">
    <h3>Resources</h3><%= link_to '+', new_resource_path, class:'btn btn-success pull-right' %><br>
      <p>
        <% if @resources %>  
          <% @resources.order(name: :asc).each do |resource| %>
            <li>
              <%= link_to resource.name, resources_path(resource: resource.id) %>
              <% if current_user.id == 1%>
                <%= link_to 'x', resource, method: :delete, data: { confirm: 'Are you sure?' } %></td>
              <% end %>
            </li>
          <% end %>
        <% end %>
      </p>
  </div>
  <div class="col-md-8 resource-desc">
    <% if @resource %>
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="row">
            <div class="col-md-6">
              <% if @resource.image %>
                <%= image_tag @resource.image, width:"100px", height:"100px"%>
              <% else %>
                <%= image_tag "questionMark.png", width:"100px", height:"100px"%>
              <% end %>
              <%= @resource.name %> (<%= @resource.resourceType %>) <%= link_to "(Edit)", edit_resource_path(@resource)%>
              <%= link_to '+', new_lode_path(resource: @resource.id), class:'btn btn-success pull-right' %><br>
            </div>
            <div class="col-md-6">
              TTValue: <%= @resource.ttValue %><br>
              MarketValue: <%= @resource.marketValue %><br>
            </div>
          </div>
        </div>
        <div class="panel-body">
          <div class="container-outer">
            <div class="container-inner">
              <%= image_tag "eudoria-v3-0.jpg", width:"100%", height:"100%"%>
            </div>
          </div>
          
        </div>
      </div>
    <% end %>
  </div>
</div>