<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @resource.name %>
</p>

<p>
  <strong>Type:</strong>
  <%= @resource.resourceType %>
</p>

<p>
  <strong>Type:</strong>
  <%= @resource.image %>
</p>
<p>
  <strong>Ttvalue:</strong>
  <%= @resource.ttValue %>
</p>

<p>
  <strong>Marketvalue:</strong>
  <%= @resource.marketValue %>
</p>

<%= link_to 'Edit', edit_resource_path(@resource) %> |
<%= link_to 'Back', resources_path %>
