<%= form_for(@item) do |f| %>
  <% if @item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
      <% @item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.file_field :image %>
  </div>
  <div class="field">
    <%= f.label :itemType %><br>
    <%= f.collection_select :itemType, Item.order(:itemType),:id,:itemType, include_blank: true %>
  </div>
  <div class="field">
    <%= f.label :level %><br>
    <%= f.text_field :level %>
  </div>
  <div class="field">
    <%= f.label :ttValue %><br>
    <%= f.text_field :ttValue %>
  </div>
  <div class="field">
    <%= f.label :marketValue %><br>
    <%= f.text_field :marketValue %>
  </div>
  <div class="field">
    <%= f.label :volume %><br>
    <%= f.number_field :volume %>
  </div>
  <div class="field">
    <%= f.label :resource_id %><br>
    <%= f.text_field :resource_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
