<div class="row">
  <div class="col-md-4 resource-list">
    <h3>Items</h3><%= link_to '+', new_item_path, class:'btn btn-success pull-right' %><br>
      <p>
        <% if @items %>  
          <% @items.order(name: :asc).each do |item| %>
            <li>
              <%= link_to item.name, items_path(item_id: item.id) %>
              <% if current_user.id == 1%>
                <%= link_to 'x', item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
              <% end %>
            </li>
          <% end %>
        <% end %>
      </p>
  </div>
  <div class="col-md-8 resource-desc">
    <div class="row">
      <div class="col-md-12">
        <% if @item %>
          <div class="panel panel-default">
            <div class="panel-heading">
              <div class="row">
                <div class="col-md-3">
                  <% if @item.image %>
                    <%= cl_image_tag @item.image.url, width:"100px", height:"100px"%>
                  <% else %>
                    <%= image_tag "questionMark.png", width:"100px", height:"100px"%>
                  <% end %>
                </div>
                <div class="col-md-3">
                  <%= link_to @item.name, item_path(@item) %><br>
                  (<%= @item.itemType %> - <%= @item.level %>)
                </div>
                <div class="col-md-3">
                APpA: <br>
                TTvalue: <%= @item.ttValue %><br>
                Cost: <%= @item.resources.sum(:ttValue).round(3) %><br>
                
                </div>
                <div class="col-md-3">
                Volume: <%= @item.volume %><br>
                Market Value: <%= @item.marketValue %><br>
                Market Cost: <br>
                </div>
              </div>
            </div>
            <div class="panel-body">
              description
            </div>
            <div class="panel-footer">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>Image</th>
                    <th>Name</th>
                    <th>Cost</th>
                    <th>Market Value</th>
                  </tr>
                </thead>

                <tbody>
                <% @item.resources.each do |resource| %>
                  <tr>
                    <td><%= image_tag resource.image.url, width:"50px", height:"50px" %></td>
                    <td><%= link_to resource.name, resources_path(resource: resource) %></td>
                    <td><%= resource.ttValue %></td>
                    <td>
                      <% if resource.marketValue %>
                        <%= resource.marketValue %>
                      <% end %>
                    </td>
                  </tr>
                <% end %>
                </tbody>
              </table>
            </div>
          </div>
      </div>
    </div>

      <% end %>
  </div>
</div>
