<div class="row">
  <div class="col-md-4 resource-list">
    <h3>Items</h3><%= link_to '+', new_item_path, class:'btn btn-success pull-right' %><br>
      <p>
        <% if @items %>  
          <% @items.order(name: :asc).each do |item| %>
            <li>
              <%= link_to item.name, items_path(item_id: item.id) %>
              <% if current_user.id == 1%>
                <%= link_to 'x', item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
              <% end %>
            </li>
          <% end %>
        <% end %>
      </p>
  </div>
  <div class="col-md-8 resource-desc">
    <div class="row">
      <div class="col-md-12">
        <% if @item %>
          <div class="panel panel-default">
            <div class="panel-heading">
              <div class="row">
                <div class="col-md-6">
                  <% if @item.image %>
                    <%= cl_image_tag @item.image.url, width:"100px", height:"100px"%>
                  <% else %>
                    <%= image_tag "questionMark.png", width:"100px", height:"100px"%>
                  <% end %>
                <%= link_to @item.name, item_path(@item) %> (<%= @item.itemType %>)
                </div>
                <div class="col-md-3">
                APpA: <br>
                TTvalue: <%= @item.ttValue %><br>
                Cost: <%# @item.resource_id %><br>
                
                </div>
                <div class="col-md-3">
                Volume: <%= @item.volume %><br>
                Market Value: <%= @item.marketValue %><br>
                Market Cost: <br>
                </div>
              </div>
            </div>
            <div class="panel-body">
              description
            </div>
            <div class="panel-footer">
              <div class="row">
                <% @item.resources.each do |resource| %>
                  <div class="col-md-3">
                    <%= image_tag resource.image.url, width:"50px", height:"50px" %>
                  </div>
                  <div class="col-md-3">
                    <%= link_to resource.name, resources_path(resource: resource) %>
                  </div>
                  <div class="col-md-3">
                    Cost: <%= resource.ttValue %><br>
                  </div>
                  <div class="col-md-3">
                    <% if resource.marketValue %>
                    Market Value: <%= resource.marketValue %><br>
                    <% end %>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
      </div>
    </div>

      <% end %>
  </div>
      
    </div>
  </div>
</div>
